@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .cardWrapper::before {
    background: conic-gradient(
    rgba(244, 114, 182, 0.4) 0deg,
    rgba(192, 132, 252, 0.4) 40deg,
    transparent 80deg
  );
  
  @apply absolute h-[100%] w-[100%] content-[''] animate-border-spin;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
